$white: #FFFFFF;
$black: #000000;

$darkBlue: #0c0f38;

$grey-500: #9E9E9E;

$yellow-600: #FDD835;
$yellow-800: #F9A825;

$amber-400: #FFCA28;
$amber-500: #FFC107;


$deepOrange-400: #FF7043;
$deepOrange-500: #FF5722;
$deepOrange-800: #EF6C00;

$red-600: #e53935;
$red-800: #c62828;
$red-900: #b71c1c;

$purple-500: #9C27B0;

$indigo-500: #3F51B5;

$blue-100: #BBDEFB;
$blue-500: #2196F3;

$teal-500: #009688;

$green-500: #4CAF50;

$brown-300: #A1887F;
$brown-500: #795548;