
/**
* FONT SIZE
*/

$fontSize-large: 30px;
$fontSize-medium: 24px;
$fontSize-small: 18px;


$text: '.text';

#{$text}-header {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 24px;
}

#{$text}-title {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 16px;
}

#{$text}-subheader {
  font-size: 18px;
  line-height: 1.5;
  font-weight: bold;
  margin-bottom: 24px;
  text-transform: capitalize;
}

#{$text}-body {
  font-size: 16px;
  line-height: 20px;
}