.section {
  padding: 64px 0 80px;
  margin: 0 auto;
  max-width: 1032px;
  width: 100%;
}

.bg-black {
  background: $black;
  color: $white;
}

.block {
  margin-top: 64px;
}

.bg-red {
  background: $red-900;
  color: $white;
}

.bg-deeporange {
  background: $deepOrange-800;

  .text-header {
    color: $white;
  }
}

.bg-darkBlue {
  background: $darkBlue;
}