.section {
  padding: 80px 0 120px;
  margin: 0 auto;
  max-width: 1032px;
  width: 100%;
}

.bg-black {
  background: $black;
  color: $white;
}

.block {
  margin-top: 64px;
}

.bg-red {
  background: $red-900;
  color: $white;
}

.bg-deeporange {
  background: $deepOrange-800;

  .text-header {
    color: $white;
  }
}

.bg-blue {
  background: $blue-500;
  color: $white;

}
.bg-orange {
  background: $deepOrange-500;
  color: $white;
}

.bg-darkBlue {
  background: $darkBlue;
}

.fill-blue {
  background: $blue-500;
  color: $white;
}