.climate-iconData-wrapper {
  align-items: center;
  display: flex;

  svg {
    margin-right: 32px;
    width: 32xz;
  }
}

.climate-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  > div {
    flex-basis: 33.33%;
    margin-bottom: 48px;
  }

  .text-header {
    margin: 0;
  }
}

.climate-weatherType {
  margin-bottom: 48px;
}