.people-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  > div {
    border: 2px dashed rgba($white,.2);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 240px;
    margin-bottom: 24px;
    margin-right: 24px;
    min-height: 160px;
    padding: 24px;

    &:nth-child(4n) {
      margin-right: 0;
    }

    h4 {
      font-size: 28px;
      font-weight: bold;
      margin-top: 16px;
    }

    p {
      color: rgba($black,.6);
      font-weight: bold;
      line-height: 1;
    }
  }
}