.safety-cards-wrapper {
  display: flex;
  justify-content: space-between;

  > div {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: space-between ;
    padding: 24px;

    &:first-of-type {
      margin-right: 80px;
    }

    .text-header {
      margin: 0;
    }
  }

  .safety-gunDeaths {
    border-left: 5px dashed rgba($white, .4);
  }

  .safety-gunOwnage {
    border-left: 5px dashed rgba($white, .4);
  }
}