.search-input {
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 16px;
  height: 40px;
  outline: none;
  padding: 0 12px;
  width: 300px;
}

.search-suggestions {
  background: white;
  box-shadow: 0 0 8px grey;
  border-radius: 0 4px 4px 4px;
  padding: 12px 0;
  position: absolute;

  li {
    cursor: pointer;
    padding: 6px 12px;

    &:hover {
      background: lightgray;
    }
  }
}